# macOS cruft
.DS_Store

# Root env files
.env

# Backend ignores
panda-loterias/node_modules/
panda-loterias/.env
panda-loterias/generated/prisma

# Frontend ignores
panda-loterias-web/node_modules/
panda-loterias-web/dist/
